<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>
    <nav>
        <h1>Recommendation System</h1>
        <i class="ri-history-line"></i>
    </nav>
    <form action="">
        <div class="search">
            <i class="ri-search-line"></i>
            <input class="search-input" type="search" placeholder="Search">
        </div>
    </form>
    <ul>
        {% for item in recommended_items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>

</body>
</html>